<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net461" developmentDependency="true" />
  <package id="Nito.Comparers" version="1.0.0-eta-01" targetFramework="net461" />
  <package id="Nito.KitchenSink.Dynamic" version="1.1.0" targetFramework="net461" />
  <package id="Nito.KitchenSink.OptionParsing" version="1.1.3" targetFramework="net461" />
  <package id="Nito.KitchenSink.SimpleParsers" version="1.1.0" targetFramework="net461" />
</packages>